<h2>Empresas</h2>

<div class="tabla" nz-row>
    <div style="display: flex; justify-content: flex-start;" nz-col nzSpan="7">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="Buscar.." />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
    </div>

    <div style="display: flex; justify-content: flex-end;" nz-col nzSpan="17">
        <button nz-button nzType="primary" nzSize="default" (click)="showModal()"><i nz-icon nzType="plus" nzTheme="outline"></i>Crear Empresa</button>
    </div>
</div>

<br>

<div class="tabla">
    <nz-table #ListEmpresas [nzData]="empresas" nzShowSizeChanger nzBordered>
        <thead>
            <tr>
                <th nzWidth="10%">Id</th>
                <th>Nombre</th>
                <th nzWidth="10%">Estado</th>
                <th nzWidth="20%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ListEmpresas.data">
                <td>{{ data.Id }}</td>
                <td>{{ data.Nombre }}</td>
                <td>
                    <div nz-row style="display: flex; justify-content: center;">
                        <div nz-col>
                            <label nz-checkbox nzDisabled [ngModel]=" data.Estado "></label>
                        </div>
                    </div>
                </td>
                <td>
                    <div nz-row style="display: flex; justify-content: center;">
                        <div nz-col nzSpan="8">
                            <button nz-button nzType="default" [nzSize]="'default'" title="Editar" (click)="selectEmpresa( data )">
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </button>
                        </div>
                        <div nz-col nzSpan="8">
                            <button nz-button nzType="danger" [nzSize]="'default'" title="Eliminar" (click)="deleteEmpresa( data )">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<nz-modal nzMaskClosable="false" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>
        Informacion de la Empresa
    </ng-template>

    <ng-template #modalContent>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="update ? updateEmpresa() : saveNewEmpresa()">

            <div nz-row>
                <div nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="nombre">Nombre</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Este campo es requerido.">
                            <input nz-input autocomplete="off" placeholder="Ingrese el nombre" formControlName="nombre" id="nombre" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label nzFor="estado" nzRequired>Estado</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Porfavor seleccione una opcion.">
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione una opcion:" id="estado" formControlName="estado">
                                <nz-option nzLabel="Activo" nzValue="true"></nz-option>
                                <nz-option nzLabel="Inactivo" nzValue="false"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col>
                    <nz-form-item>
                        <nz-form-control>
                            <button *ngIf="update == false" nz-button nzType="primary">Guardar</button>
                            <button *ngIf="update == true" nz-button nzType="default">Actualizar</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

        </form>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="danger" (click)="handleCancel()">Cerrar</button>
    </ng-template>


</nz-modal>