<h2>Unidades</h2>

<div class="tabla" nz-row>
    <div style="display: flex; justify-content: flex-end;" nz-col>
        <button nz-button nzType="primary" nzSize="default" (click)="showModal()"><i nz-icon nzType="plus" nzTheme="outline"></i>Crear Unidad</button>
    </div>
</div>

<br>

<div class="tabla">
    <nz-table #ListUnidades [nzData]="unidades" nzShowSizeChanger nzBordered>
        <thead>
            <tr>
                <th nzWidth="10%">Id</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th nzWidth="10%">Estado</th>
                <th nzWidth="20%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ListUnidades.data">
                <td>{{ data.Id }}</td>
                <td>{{ data.Marca }}</td>
                <td>{{ data.Modelo }}</td>
                <td>
                    <div nz-row style="display: flex; justify-content: center;">
                        <div nz-col>
                            <label nz-checkbox nzDisabled [ngModel]=" data.Estado "></label>
                        </div>
                    </div>
                </td>
                <td>
                    <div nz-row style="display: flex; justify-content: center;">
                        <div nz-col nzSpan="8">
                            <button nz-button nzType="default" [nzSize]="'default'" title="Editar" (click)="selectUnidad( data )">
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </button>
                        </div>
                        <div nz-col nzSpan="8">
                            <button nz-button nzType="danger" [nzSize]="'default'" title="Eliminar" (click)="deleteUnidad( data )">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<nz-modal nzMaskClosable="false" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>
        Informacion de la Unidad
    </ng-template>

    <ng-template #modalContent>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="update ? updateUnidad() : saveNewUnidades()">

            <div nz-row>
                <div nz-col [nzSpan]="11">
                    <nz-form-item>
                        <nz-form-label nzFor="cuartoBombaId" nzRequired>Cuarto de bomba</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Porfavor seleccione una opcion.">
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione una opcion:" id="cuartoBombaId" formControlName="cuartoBombaId">
                                <nz-option *ngFor="let data of cuartoBombas" [nzLabel]="data.Descripcion" [nzValue]="data.Id"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="1"></div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzFor="tipoMotorId" nzRequired>Tipo de Motor</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Porfavor seleccione una opcion.">
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione una opcion:" id="tipoMotorId" formControlName="tipoMotorId">
                                <nz-option *ngFor="let data of tiposMotores" [nzLabel]="data.Descripcion" [nzValue]="data.Id"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col [nzSpan]="11">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="marca">Marca</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Este campo es requerido.">
                            <input nz-input autocomplete="off" placeholder="Ingrese la marca" formControlName="marca" id="marca" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="1"></div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="modelo">Modelo</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Este campo es requerido.">
                            <input nz-input autocomplete="off" placeholder="Ingrese el modelo" formControlName="modelo" id="modelo" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col [nzSpan]="11">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="gmp">GMP</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Este campo es requerido.">
                            <input nz-input autocomplete="off" placeholder="Ingrese GMP" formControlName="gmp" id="gmp" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="1"></div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="psi">PSI</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Este campo es requerido.">
                            <input nz-input autocomplete="off" placeholder="Ingrese psi" formControlName="psi" id="psi" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col [nzSpan]="11">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="hp">HP</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Este campo es requerido.">
                            <input nz-input autocomplete="off" placeholder="Ingrese hp" formControlName="hp" id="hp" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="1"></div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="rpm">RPM</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Este campo es requerido.">
                            <input nz-input autocomplete="off" placeholder="Ingrese rpm" formControlName="rpm" id="rpm" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzFor="estado" nzRequired>Estado</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Porfavor seleccione una opcion.">
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione una opcion:" id="estado" formControlName="estado">
                                <nz-option nzLabel="Activo" nzValue="true"></nz-option>
                                <nz-option nzLabel="Inactivo" nzValue="false"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col>
                    <nz-form-item>
                        <nz-form-control>
                            <button *ngIf="update == false" nz-button nzType="primary">Guardar</button>
                            <button *ngIf="update == true" nz-button nzType="default">Actualizar</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

        </form>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="danger" (click)="handleCancel()">Cerrar</button>
    </ng-template>


</nz-modal>